body {
    margin: 0; 
    overflow: hidden; 
    touch-action: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    touch-action: none;
}
